.page-header
  %h1 
    Mon 7 Consulting AB
    %small Specialutvecklar IT-system för er verksamhet
.row.media-grid
  .span8
    %p Vi utför IT konsulttjänster till privata företag och offentlig förvaltning. Genom stor lyhördhet för våra kundernas behov kan kostnadseffektiva, skräddarsydda administrativasystem utvecklas, till våra kunder. Vi tillhandahåller drift och underhåll av servrar. Förtroende och pålitlighet är ledord i vår relation till våra kunderna.
    %p Är du ute efter IT-specialister som håller vad de lovar och inte lovar för lite, då har du hittat rätt. Kontakta oss gärna för rådgivning om ditt projekt. 
  .span8
    %a
      %img{:src => '/images/mon7office.png', :width=>'100%'}
.row
  .span-one-third
    %h3 Webbaserat
    %p Mon 7 Consulting är specialister på att utveckla webbaserade system. Vi utvecklar redundanta system så att du slipper nertid. Med molnabaserade lösningar undviker du privata servrar och dyr support. Vi söker alltid licensfria lösningar vilket gör våra priser konkurenskraftiga.
  .span-one-third
    %h3 Agila arbetsmetoder
    %p Anpassa inte organisationen efter verktygen. Låt istället oss anpassa er IT efter era rutiner. Vi har kontinuerlig kontakt med kunden under hela utvecklingen, från början till slut så att kunden får precis det systemet de behöver. 
  .span-one-third
    %h3 Skalbarasystem
    %p Mon 7 Consulting är måna om att er organisation ska tåla att växa. Därför utvecklar vi system som lätt kan skalas om. Våra system är modulära och kan enkelt byggas om för att passa era behov.
