-#.index-background
  .container.index-section
    .row
      .span-two-thirds
        %img{:src => "/images/logo.png", :width=>'100%', :alt => "Mon 7 Consulting AB", :titel => "Mon 7 Consulting AB"}
    .row
      .span-two-thirds{:style=>'text-align: center'}
        %h1
          Mon 7 Consulting AB
          %br
          %small Specialutvecklar IT-system för just er verksamhet
      .span-one-third
        %a.btn.btn-success.large.index{ :href => '/kontakt.html'} Beställ ett system idag!
        -#.well{:style=>'background: white'}
          %p Vi utför IT konsulttjänster till privata företag och offentlig förvaltning. Genom stor lyhördhet för våra kundernas behov kan kostnadseffektiva, skräddarsydda administrativasystem utvecklas, till våra kunder. Vi tillhandahåller drift och underhåll av servrar. Förtroende och pålitlighet är ledord i vår relation till våra kunderna.
      -#.span8
        %a
          %img{:src => '/images/mon7office.png', :width=>'100%'}
.container
  .row
    .span12
      %h1 Specialutvecklar IT-system för att effektivisera er verksamhet
      %br
  .row
    .span4
      %img{src: '/img/icon_dev.png', alt: 'Systemutveckling'}
    .span4
      %img{src: '/img/icon_coffee.png', alt: 'Effektivisering'}
    .span4
      %img{src: '/img/icon_server.png', alt: 'Infrastruktur'}
  .row
    .span4
      %h2 Systemutveckling
      %p Vi utför kundanpassad systemutveckling. Med ett litet men specialiserat team av spetsutvecklare kan vi skapa väldigt avancerade system på kort tid.

    .span4
      %h2 Effektivisering
      %p Vi är experter på att identifiera och implementera effektivseringsmöjligheter som IT system kan möjligöra inom organisationer.
    .span4
      %h2 Infrastruktur
      %p Vi har lång erfarenhet av drift och underhåll av affärskritiska system. 
      -#%a.btn.primary{:href=>'#'} Läs mer

    -#
      .span-one-third
        %h2 Webbaserat
        %p Mon 7 Consulting AB har spetskompetens inom avancerat webbutveckling. Med de senaste teknikerna och jkär specialister på att utveckla webbaserade system. Vi utvecklar redundanta system så att du slipper nertid. Med molnabaserade lösningar undviker du privata servrar och dyr support. Vi söker alltid licensfria lösningar vilket gör våra priser konkurenskraftiga.
      .span-one-third
        %h2 Agila arbetsmetoder
        %p Anpassa inte organisationen efter verktygen. Låt istället oss anpassa er IT efter era rutiner. Vi har kontinuerlig kontakt med kunden under hela utvecklingen, från början till slut så att kunden får precis det systemet de behöver. 
      .span-one-third
        %h2 Skalbarasystem
        %p Mon 7 Consulting är måna om att er organisation ska tåla att växa. Därför utvecklar vi system som lätt kan skalas om. Våra system är modulära och kan enkelt byggas om för att passa era behov.
