.row
  .twelvecol.padd
    %h2 Kontakta oss
    %p.adress Mon 7 Consulting AB
    %p.adress
      Organisationsnummer: 556724-0782
    %p.adress
      Telefon:
      %a{:href=>'tel:+46703671120'} +46703671120
    %p.adress
      Besöksadress: 
      %a{:href => 'http://maps.google.se/maps?q=Mon+7+Consulting+AB,+Westmansgatan+37,+Link%C3%B6ping&hl=sv&ie=UTF8&sll=61.606396,21.225586&sspn=33.039645,92.724609&vpsrc=0&hq=Mon+7+Consulting+AB,&hnear=Westmansgatan+37,+582+16+Link%C3%B6ping,+%C3%96sterg%C3%B6tlands+L%C3%A4n&t=h&z=16'} Westmansgatan 37 2 tr, 582 16 Linköping
.row
  .twelvecol.even
    %h3 Medarbetare
    .contact
      %img.contact-img{:src => "/images/staff/staffan.JPG"}
      %p.name Staffan Hörberg - VD
      %p.adress 
        Telefon:
        %a{:href=>'tel:+46703671120'} +46703671120
      %p.adress 
        Email:
        %a{:href=>'mailto:staffan@mon7.se'} staffan@mon7.se
    .contact
      %img.contact-img{:src => "/images/staff/carl.JPG"}
      %p.name Carl Hörberg - Systemutvecklare
      %p.adress 
        Telefon:
        %a{:href=>'tel:+46702270833'} +46702270833
      %p.adress 
        E-mail: 
        %a{:href=>'mailto:carl@mon7.se'} carl@mon7.se
    .contact
      %img.contact-img{:src => "/images/staff/martin.JPG"}
      %p.name Martin Andersson - Systemutvecklare
      %p.adress 
        Telefon:
        %a{:href=>'tel:+46704565865'} +46704565865
      %p.adress 
        Email: 
        %a{:href=>'mailto:martin@mon7.se'} martin@mon7.se
    .contact
      %img.contact-img{:src => "/images/staff/hasse.JPG"}
      %p.name Hans Jansson - Systemutvecklare
      %p.adress 
        Telefon:
        %a{:href=>'tel:+467079827087'} +467079827087
      %p.adress 
        Email:
        %a{:href=>'mailto:hasse@mon7.se'} hasse@mon7.se
    .contact
      %img.contact-img{:src => "/images/staff/magnus.JPG"}
      %p.name Magnus Hörberg - Systemutvecklare
      %p.adress 
        Telefon:
        %a{:href=>'tel:+46738123954'} +46738123954
      %p.adress 
        Email:
        %a{:href=>'mailto:magnus@mon7.se'} magnus@mon7.se
    %p
