.container
  .page-header
    %h1 Kontakta oss
  .row
    .span4
      %h3 E-mail
      %h1
        %a{:href=>'mailto:info@mon7.se'} info@mon7.se

      %h3 Telefonnummer
      %h1
        %a{:href=>'tel:+46703671120'} 070 367 11 20
    .span4
      %h3 Adress
      %address
        %strong Mon 7 Consulting AB
        %br
        c/o Staffan Hörberg
        %br
        Skartoftavägen 65-11
        %br
        275 94 Sjöbo
      %h3 Organisationsnummer
      %p 556724-0782
    -#.span4
      %h3 Vägbeskrivning
      %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.se/maps?f=q&source=s_q&hl=en&geocode=&q=Westmansgatan+47,+Link%C3%B6ping&aq=0&oq=Westmansgatan+47+Link%C3%B6ping&sll=58.404624,15.604084&sspn=0.008184,0.022724&t=v&ie=UTF8&hq=&hnear=Westmansgatan+47,+582+16+Link%C3%B6ping&z=14&ll=58.404348,15.602075&output=embed", :width => "100%"}
      %br/
      %small
        %a{:href => "https://maps.google.se/maps?f=q&source=embed&hl=en&geocode=&q=Westmansgatan+47,+Link%C3%B6ping&aq=0&oq=Westmansgatan+47+Link%C3%B6ping&sll=58.404624,15.604084&sspn=0.008184,0.022724&t=v&ie=UTF8&hq=&hnear=Westmansgatan+47,+582+16+Link%C3%B6ping&z=14&ll=58.404348,15.602075", :style => "color:#0000FF;text-align:left"} Visa större karta
  %h1 Medarbetare
  .row
    .span2
      %img.contact-img{:src => "/images/staff/staffan.JPG"}
    .span4
      %h4 
        Staffan Hörberg 
        %small VD
      %address
        Telefon:
        %a{:href=>'tel:+46703671120'} +46703671120
        %br
        Email:
        %a{:href=>'mailto:staffan@mon7.se'} staffan@mon7.se
