.page-header
  %h1 Kontakta oss
.row
  .span-one-third
    %h3 E-mail
    %h1
      %a{:href=>'mailto:info@mon7.se'} info@mon7.se

    %h3 Telefonnummer
    %h1
      %a{:href=>'tel:+46134747790'} 013 474 77 90
  .span-one-third
    %h3 Adress
    %address
      %strong Mon 7 Consulting AB
      %br
      Westmansgatan 37
      %br
      582 16 Linköping
    %h3 Organisationsnummer
    %p 556724-0782
  .span-one-third
    %h3 Vägbeskrivning
    %iframe{:frameborder => "0", :height => "300", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.se/maps?f=q&source=s_q&hl=sv&geocode=&q=Westmansgatan+37,+Link%C3%B6ping&aq=0&oq=west&sll=61.606396,21.225586&sspn=30.247398,93.076172&vpsrc=6&ie=UTF8&hq=&hnear=Westmansgatan+37,+582+16+Link%C3%B6ping&t=m&ll=58.403016,15.604105&spn=0.013491,0.025749&z=14&output=embed", :width => "300"}
    %br/
    %small
      %a{:href => "http://maps.google.se/maps?f=q&source=embed&hl=sv&geocode=&q=Westmansgatan+37,+Link%C3%B6ping&aq=0&oq=west&sll=61.606396,21.225586&sspn=30.247398,93.076172&vpsrc=6&ie=UTF8&hq=&hnear=Westmansgatan+37,+582+16+Link%C3%B6ping&t=m&ll=58.403016,15.604105&spn=0.013491,0.025749&z=14", :style => "color:#0000FF;text-align:left"} Visa större karta
%h1 Medarbetare
.row
  .span3
    %img.contact-img{:src => "/images/staff/staffan.JPG"}
  .span5
    %h4 
      Staffan Hörberg 
      %small VD
    %address
      Telefon:
      %a{:href=>'tel:+46703671120'} +46703671120
      %br
      Email:
      %a{:href=>'mailto:staffan@mon7.se'} staffan@mon7.se
  .span3
    %img.contact-img{:src => "/images/staff/carl.JPG"}
  .span5
    %h4 
      Carl Hörberg 
      %small Systemutvecklare
    %address
      Telefon:
      %a{:href=>'tel:+46702270833'} +46702270833
      %br
      E-mail: 
      %a{:href=>'mailto:carl@mon7.se'} carl@mon7.se
.row
  .span3
    %img.contact-img{:src => "/images/staff/martin.JPG"}
  .span5
    %h4
      Martin Andersson 
      %small Systemutvecklare
    %address
      Telefon:
      %a{:href=>'tel:+46704565865'} +46704565865
      %br
      Email: 
      %a{:href=>'mailto:martin@mon7.se'} martin@mon7.se
  .span3
    %img.contact-img{:src => "/images/staff/hasse.JPG"}
  .span5
    %h4 
      Hans Jansson 
      %small Systemutvecklare
    %address
      Telefon:
      %a{:href=>'tel:+467079827087'} +467079827087
      %br
      Email:
      %a{:href=>'mailto:hasse@mon7.se'} hasse@mon7.se
.row
  .span3
    %img.contact-img{:src => "/images/staff/magnus.JPG"}
  .span5
    %h4 
      Magnus Hörberg 
      %small Systemutvecklare
    %address
      Telefon:
      %a{:href=>'tel:+46738123954'} +46738123954
      %br
      Email:
      %a{:href=>'mailto:magnus@mon7.se'} magnus@mon7.se
