!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title= @title || 'Mon 7 Consulting AB'
    %meta{:content => "Mon 7 Consulting AB utvecklar anpassade IT lösningar för er organisation", :name => "Description"}
    %script{:src => "/js/jquery-1.7.1.min.js"}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      %script{:src => "/js/html5shiv.js"}
    %script{:src => "/js/bootstrap.min.js"}
    -#%link{:href => "http://fonts.googleapis.com/css?family=Ruda:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/site.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18633595-1']);
      _gaq.push(['_setSiteSpeedSampleRate', 100]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #hd.container
      .row
        .span4
          %img{src: '/images/mon7_logo.png', alt: 'Mon 7 Consulting AB'}
        .span8
          %ul.nav.nav-pills#main-nav
            %li{:class=>name=='index' ? :active : ''}
              %a{:href=>'/'} Hem
            %li{:class=>name=='tjanster' ? :active : ''}
              %a{:href=>'/tjanster.html'} Tjänster
            %li{:class=>name=='projekt' ? :active : ''}
              %a{:href=>'/projekt.html',} Produkter
            %li{:class=>name=='kontakt' ? :active : ''}
              %a{:href=>'/kontakt.html'} Kontakt
            %li{:class=>name=='metoder' ? :active : ''}
              %a{:href=>'/metoder.html'} Metoder
    !=yield
    .container
      %footer
        %p{:style=>'display: inline-block;'}
          Mon 7 Consulting AB 
          |
          Telefon:
          %a{:href=>'tel:+46703671120'} +46703671120
          |
          Adress:
          %a{:href => "https://maps.google.se/maps?q=Westmansgatan+47,+Link%C3%B6ping&hl=en&ie=UTF8&sll=61.606396,21.225586&sspn=36.411421,134.912109&oq=Westm&t=v&hnear=Westmansgatan+47,+582+16+Link%C3%B6ping&z=16"}
            Westmansgatan 47, 582 16 Linköping
        .pull-left
          %a{href: "http://www.soliditet.se"}
            %img{src: "http://www.soliditet.se/ImageGenerator.ashx?duns=775575694&type=solo&eng=False&centered=True&size=Small", border: 0, title: "Vårt företag har rating A, vilket innebär kreditvärdigt enligt Soliditets värderingssystem, som baseras på cirka 2 400 beslutsregler. Denna uppgift är dagsfärsk, informationen uppdateras dagligen via Soliditets databas.", alt: "Vårt företag har rating A, vilket innebär  kreditvärdigt enligt Soliditets värderingssystem, som baseras på cirka 2 400 beslutsregler. Denna uppgift är dagsfärsk, informationen uppdateras dagligen via Soliditets databas."}
