.container
  .page-header
    %h1
      Metoder
      %small Hur vi jobbar
  .row
    .span6
      %h3 Agil utveckling

      %p Mjukvaruutveckling fungerar inte som andra industrier. Det är otroligt svårt att ta in en kravspecifkation, uppfylla den och sedan leverera en produkt som kunden är nöjd med. Forskning har visat att denna typ av metoder inte fungerar inom branchen.

      %p Vi jobbar utefter agila arbetsmetoder, vilket betyder att vi inte tar in en kravspec, försöker uppfylla den och sedan levererar en färdig produkt. Mjukvaruutveckling blir mer avancerat för att kunden förväntar sig saker de inte enkelt kan utrycka i kravspecifikationen. Ofta blir kravspecifikationerna öppna för tolkning och mycket anses vara underförstått. Vi jobbar hellre i små steg fram mot målet tillsammans med kunden. Vi utgår från en vision, att bygga minsta möjliga och sedan låta kunden påverka systemen, steg för steg, dag för dag till just det system som kunden önskar.

    .span6
      %h3 Typisk arbetsgång
      %ul
        %li Kunden presenterar en vision/målsättning.
        %li Vi genomför förstudie och domänmodelering. Hur ser verksamheten ut? Vad är det för processer som händer och varför? Vilka affärsregler är det som gäller?
        %li Utveckling sker i små inkrementella steg, kunden kan i närmaste realtid se hur systemet växer fram. Varje gång en utvecklare gör en ändring så publiceras den så att kunden har hela tiden möjlighet att ge feedback, detta för att miniera onödigt arbete och synliggöra skillnader i idé och uppfattning.
        %li Testning sker parallellt med utvecklingen, ingenting publiceras utan att ha ett testfall som automatiskt kontrollerar att rätt sak utförs. Alla dessa testfall bildar också ett skyddsnät i framtiden när ändringar görs så att ingenting oförväntat sker.
        %li Kunden kommer löpande med nya önskemål och ändringar. Många förändringar kan vara på plats redan innan kunden har hunnit lägga på telefonluren.

