.container
  .page-header
    %h1 
      Produkter
      %small och tidigare projekt
  -#.row
    .span6
      %h2 Animaldata Web
      %p AnimalData är ett komplett verksamhetsystem för veterinärkliniker, allt från journalskrivning till kassa och allt där emellan som receptskrivning, lagerhantering, röntgen och labbutrustning hanteras. Systemet är utvecklat med de senaste webbteknikerna för att få fördelarna med ett webbaserat system, dvs. inga installationer, snabbt att komma igång och kontinuerliga uppdateringar av systemet, men utan de nackdelar som annars kan tillskrivas webbapplikationer. Alla information uppdateras i realtid på skärmen och integration med extern hårdvara fungerar smärtfritt. Systemet bygger endast på öppen och fritt tillgänglig mjukvara så inga extra licenskostander tillkommer och driftskostanderna är extremt låga. 
    .span6.media-grid
      %a{:href=>'/images/screens/animaldata.png'}
        %img.thumbnail{:src => "/images/screens/animaldata.png", :width => '100%'}
  .row
    .span6
      %h2 
        Fritidsforum
        %small Medlems- och administrationssystem
      %p 
        Administrationssystem för föreningar ansluta till&nbsp;
        %a{:href=>'http://www.Fritidsforum.se'}> Fritidsforum
        \.
    .span6
      %a{:href=>'/images/screens/fritidsforum.png'}
        %img{:src => "/images/screens/fritidsforum.png", :width => '100%'}
  .row
    .span6
      %h2 
        AgeraTime
        %small Mäter och rapporterar säljares tidsdisponering
      %p 
        AgeraTime utvecklades på uppdrag av 
        %a{:href=>'http://www.agerasales.se'} AgeraSales AB
        och används för att utvärdera hur säljare spenderar sin tid. Säljarna rapportera själva in tiden och en administratör kan ta ut rapporter som visar säljarnas tidsfördelning, på individ- och organisationsnivå.
    .span6
      %a{:href=>'/images/screens/ageratime.png'}
        %img{:src => "/images/screens/ageratime.png", :width => '100%'}
  .row
    .span6
      %h2 
        DMKS 
        %small Digitalt medlemskortsystem
      %p DMKS är ett system för att hantera medlemskort och registrering av aktiviteter. Systemet utvecklades för Uppsala Fritidsgårdar. I systemet kan medlemmar registreras dessa får ett medlemskort som de sedan använder för att sammla in bonus som de kan köpa aktiviteter för.
    .span6
      %a{:href=>'/images/screens/dmks.png'}
        %img{:src => "/images/screens/dmks.png", :width => '100%'}
  .row
    .span6
      %h2 
        Eneus
        %small Avancerat energiuppföljningssystem
      %p 
        Eneus är ett energiuppföljningssystem utvecklat på updrag av&nbsp;
        %a{:href=>'http://www.eneasenergy.se'}>Eneas Energy AB
        \. Systemet samlar in en stora mängder energidata och presenterar informationen i avancerade grafer för att underlätta överblick och beslutstaganden. Informationen kan användas för att följa upp åtgärder som gjorts för att minska energiåtgången.
    .span6
      %a{:href=>'/images/screens/eneus.png'}
        %img{:src => "/images/screens/eneus.png", :width => '100%'}
  .row
    .span6
      %h2 
        Sekura
        %small Hjälpmedel för systematiskt brandskyddsarbete
      %p Sekura är ett system som hjälper fastighetsägare att automatisera sitt systematiska brandskyddsarbete. Applikationen gör det enkelt att skapa checklistor för brandskyddskontroller och att följa upp dessa. Fastigheter kan lätt sorteras i grupper och kan tilldelas olika typer av kontroller. 
    .span6
      %a{:href=>'/images/screens/sekura.png'}
        %img{:src => "/images/screens/sekura.png", :width => '100%'}
