.row.overflow
  .twelvecol#tour.overflow
    %ul#banner
      -#%li
        %h2 AnimalData Web
        %img{:src => "/images/screens/animaldata.png"}
        %p AnimalData är ett komplett verksamhetsystem för veterinärkliniker, allt från journalskrivning till kassa och allt där emellan som receptskrivning, lagerhantering, röntgen och labbutrustning hanteras. Systemet är utvecklat med de senaste webbteknikerna för att få fördelarna med ett webbaserat system, dvs. inga installationer, snabbt att komma igång och kontinuerliga uppdateringar av systemet, men utan de nackdelar som annars kan tillskrivas webbapplikationer. Alla information uppdateras i realtid på skärmen och integration med extern hårdvara fungerar smärtfritt. Systemet bygger endast på öppen och fritt tillgänglig mjukvara så inga extra licenskostander tillkommer och driftskostanderna är extremt låga. 
      %li
        %h2 DMKS - Digitalt medlemskortsystem
        %img{:src => "/images/screens/dmks.png"}
        %p DMKS är ett system för att hantera medlemskort och registrering av aktiviteter. Systemet utvecklades för Uppsala Fritidsgårdar. I systemet kan medlemmar registreras dessa får ett medlemskort som de sedan använder för att sammla in bonus som de kan köpa aktiviteter för.
      %li
        %h2 Eneus
        %img{:src => "/images/screens/eneus.png"}
        %p 
          Energiuppföljningssystem för 
          %a{:href=>'http://www.eneasenergy.se'} Eneas Energy AB
          \. Används för att följa upp åtgärder som gjorts för att minska energiåtgången. Systemet samlar in stora mängder energidata och presenterar informationen i avancerade grafer för att underlätta överblick och beslutstaganden. 
      %li
        %h2 Sekura
        %img{:src => "/images/screens/sekura.png"}
        %p Sekura är ett system som hjälper fastighetsägare att automatisera sitt systematiska brandskyddsarbete. Applikationen gör det enkelt att skapa checklistor för brandskyddskontroller och att följa upp dessa. Fastigheter kan lätt sorteras i grupper och kan tilldelas olika typer av kontroller. 
