-@title = 'Våra tjänster'
.container
  .page-header
    %h1 
      Våra tjänster
      %small Våra mest efterfrågade tjänster 
  %h2 Systemutveckling
  %p 
    Mon 7 Consulting utvecklar kundanpassade verksamhetssystem. Exempel på bredden av system vi har utvecklat kan du se under &nbsp;
    %a{:href=>'/projekt'}>< Våra projekt
    \.
    Vi utgår alltid från hur kunden jobbar idag och verkar för att effektivisera processer. 
  %p Många standardprodukter börjar istället i andra änden vilket forcerar ett arbetssätt och kräver dyra anpassningar, både i systemet och i organsiationen. Vi har ett komplett kundfokus Genom ett komplett kund och affärsfokus byggar vi det system som är mest fördelaktigt för eran organisation utan att ta bort era konkurrensfördelar gentemot korruenter.  
  %p När vi utvecklar så är kunden alltid med från dag 1 vilket gör att alla ändringar och anpassningar görs från början och undertiden kunden får se mer och mer av systemet och de kommer på nya saker. Det gör också att vi alltid har någon att bolla med när något är oklart istället för att gissa. 
  %p Våra utvecklare ligger i absoluta framkanten vad gäller mjukvaruutveckling och webbteknik. Idag är realtiduppdatering av information och 3D modeller verklighet i våra webbläsare, och till väldigt låg kostnad jämfört med motsvarande konventionella produkter. Innovationstakten är hög i den här branchen och det gäller att hänga med, men det älskar vi!  
  %p Våra system bygger endast på öppen källkodsprodukter vilket innebär att inga extra licenskostnader krävs. Det borgar också för högutvecklingstakt, anpassningsbarhet och kvalitet.

  %h2 Verksamhetseffektivisering
  %p Vi går in i verksamheter och undersöker vad som kan effektiviseras. Med moderna verktyg finns möjligheter som inte fanns, eller som var väldigt dyra, för bara ett par år sedan. Vi kan ge förslag på och genomföra dessa förändringar som ibland kan spara mannaår. 
  %p Den kan handla om att automatisera dataöverföring, att se avancerade samband mellan information på flera ställen som kan bindas ihop vilket i sin tur kan minska den administrativabördan, minska felkällor och öka debiteringsgraden. 
  %p I detta arbete nyttjas civilingenjörer och tjänstedesignsexperter med djup utbildning och lång erfarenhet som snabbt kan identifiera flaskhalsar och effektiva lösningar. 

  %h2 Drift och förvaltning
  %p Mon 7 Consulting driftar och underhåller idag ett flertal affärskritiska system. Vi tillhandahåller lösningar som ger väldigt hög tillgänglighet, tex. multi site availability, dvs. att samma applikationer körs i två separata serverhallar i olika delar av världen. Skulle en datorhall gå ner  och dynamisk skalning av antalet servrar.  Vi har stor vana utav upphandling av moln och server tjänster. Vi rekommenderar endast open source lösningar vilket ytterligare minskar kostnaderna. 
