body, p {
  /*font-family:  'Ruda', 'Trebuchet MS',sans-serif;*/
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Trebuchet MS','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

a {
  color: #04354D;
}
a:hover {
  color: #FF4300;
}

#hd {
  padding: 2em 0;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #04354D;
}

.topbar {
  background-color: #3C4764
}
#main-nav {
  margin: 3em;
}
.contact-img {
  width: 100%;
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 3px;
}
.index-background {
  background-color: whiteSmoke;
  background-image: url(/images/groovepaper.png);
  margin: -40px auto 20px;
  padding-top: 40px;
}
.index-section {
  background-image: url(/images/index-header.png);
  background-repeat: no-repeat;
  background-position: center 0px;
  height: 350px;
}
.btn.index {
  font-size: 1.8em;
  margin-top: 5px;
}
footer {
  padding-top: 2em;
  text-align: center;
  color: #999;
}
footer a {
  color: #999;
  text-decoration: underline;
}
